<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>At_blog时间轴</title>
	<meta name="keywords" content="At_blog,博客">
	<meta name="description" content="自用的博客网站">
	  <meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="blog/js/layui/css/layui.css" rel="stylesheet">
	<link href="blog/css/common.css" rel="stylesheet"/>
	<link href="blog/css/blog.css" rel="stylesheet"/>
</head>
	
<body class="site-home" id="LAY_home" >
	
	
<!-- 头部	 -->
{{template "header" .}}


<!-- 中间画布 -->
<div class="site-banner" style="background:url( https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.jj20.com%2Fup%2Fallimg%2Ftp09%2F210Q6133S9A22-0-lp.jpg&refer=http%3A%2F%2Fimg.jj20.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1664546680&t=2f3e57bd908f1d26a8aeca37169b9245) no-repeat;  background-size:100% 100%;">
  <div class="site-banner-bg">
  </div>
  <div class="site-banner-main">
    <div class="site-zfj layui-anim layui-anim-scaleSpring" >
      <i class="layui-icon" style="color: #fff; color: rgba(255,255,255,.6);">&#xe609;</i>
    </div>
    <div class="layui-anim site-desc">
      <p class="web-font-desc">时间轴</p>
    </div>
	
  </div>
</div>

<div class="layui-container">  
  <div class="layui-row layui-col-space15">
  <div class=" layui-row layui-col-md9 ">
	<ul id="timeLine" class="layui-timeline  site-idea">
	
	</ul>
	   
	 <div class="layui-row">
		<div id="articlePage" style="text-align: center ;"></div>
	 </div>
  </div>
  
	<!-- 左侧 -->
	{{template "right" .}}
  </div>
</div>

<div id="elevator_item" class="elevator-item">
	  <a href="javascript:;" id="elevator" class="elevator" title="回到顶部" >
		<i class="layui-icon layui-icon-up" style="font-size: 30px;"></i>
	  </a><br>
</div>

{{template "foot" .}}


</body>
{{template "hidDalog" .}}
<script id ="blogItem" type="text/html">
	<li class="layui-timeline-item">
		<i class="layui-icon layui-timeline-axis" style="color:#456079">&#xe63f;</i>
		<div class="layui-timeline-content layui-text">
		  <h3 class="layui-timeline-title">文章总数-{{.BlogCount}}</h3>
		</div>
	</li>
	<%#  layui.each(d.result, function(index, item){  console.log(index)%>
			  <%# 
					for(var k in item ){%>
						<li class="layui-timeline-item">
							<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
							<div class="layui-timeline-content layui-text">
							  <h3 class="layui-timeline-title"><%k%></h3>
							</div>
						</li>
						<%# for(var i =0; i < item[k].length ; i++){%>
							<li class="layui-timeline-item">
								<i class="layui-icon layui-timeline-axis" style="color:#53aade">&#xe63f;</i>
								<div class="layui-timeline-content layui-text">
								  <p><a href="blog?id=<%item[k][i].id%>"><%item[k][i].title%></a></p>
								  <time><% blogformData(item[k][i].upLoadTime)%></time>
								</div>
							</li>
						<%#}
					}
			  %>
			</div>
		  </li>
	<%#  });%>
</script>
<script src="blog/js/layui/layui.js"></script>
<script src="blog/js/MyFunc.js"></script>
<script src="blog/js/layui/modules/layer.js"></script>
<script>


//注意：导航 依赖 element 模块，否则无法进行功能性操作
layui.use(['laypage','element','laytpl',"jquery",'axios'], function(){
  var element = layui.element,
  $ = layui.$,
  axios= layui.axios,
  // 分页插件
  laypage = layui.laypage,
  // 模板插件
  laytpl= layui.laytpl;
  laytpl.config({
	open: '<%',
	close: '%>'
  });
  
  // 执行一个laypage 实例
 // 执行一个laypage 实例
 laypage.render({
	elem: 'articlePage' //注意，这里的 test1 是 ID，不用加 # 号
	,count: {{.BlogCount}} //数据总数，从服务端得到
	,limit:10
	,jump: function(obj, first){

	 axios({
	    url: '/api/archivesBlog',
	    method: 'get',
	    params: {
	      page: obj.curr,
	      pageSize: obj.limit
	    }
	  }).then(res => {
	 
		var getTpl = blogItem.innerHTML
		,view = document.getElementById('timeLine');
		laytpl(getTpl).render(res.data, function(html){
		view.innerHTML = html;
		});

	  })
		//首次不执行
		if(!first){
		
		}
	}
	
	});
 	  

	 
	
});

</script>
</html>